body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#ffffff;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.test
{
	color:#CC0000;
}

A:link {
	COLOR: #333333; TEXT-DECORATION: none;line-height:100%
}
A:visited {
	COLOR: #4F5559; TEXT-DECORATION: none;line-height:100%
}

A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none;line-height:100%
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none;line-height:100%
}
.CommentDetailListTitle,.subjectContenttitle{
	background-color:#30B0E5;
	height:31px;
}
.CommentDetailListBorder,.subjectContentborder{
	font-size:12px;
	border:solid 1px #30B0E5;
}
.SubjectContentAds{
	background-color:#DADADA
}
.SubjectContentUser{
	color:#30B0E5;
	margin-left:2px;
}
A.SubjectContentUserLink{
	color:Red;
	margin-left:5px;
}
.SubjectContentTime{
	color:#999999;
	margin-left:10px;
	float:none;
}
.SubjectContent,.CommentDetailListContent,.CommentUserSign
{
	padding-top:5px;
	 padding-left:5px;
}
	
.CommentDetailListFont{
	margin-left:2px;
	
}
.CommentDetailListTime{
	margin-left:90px;
}
