<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ncuhome.Blog.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ncuhome.Blog.Controls.Properties.Settings>
            <setting name="Ncuhome_Blog_Controls_uploadservice_Upload" serializeAs="String">
                <value>http://resource.ncuhome.cn/upload.asmx</value>
            </setting>
        </Ncuhome.Blog.Controls.Properties.Settings>
    </applicationSettings>
</configuration>